.character
{
	position:absolute;
	width:200px;
	height:500px;
	left:500px;
	top:30px;
	background-repeat:no-repeat;
}

#container[character="cop"] .character
{
	left:25px;
}
#container[character="sarah"] .character
{
	left:100px;
}
#container[character="luke"] .character
{
	left:100px;
}

#container[character="jennifer"] #characterName
{
	color:rgb(187, 128, 221);
}
#container[character="jay"] #characterName
{
	color:rgb(157, 221, 128);
}
#container[character="narrator"] #characterName
{
	color:rgb(246, 232, 231);
}
#container[character="sarah"] #characterName
{
	color:rgb(251, 172, 219);
}
#container[character="luke"] #characterName
{
	color:rgb(105, 142, 236);
}
#container[character="cop"] #characterName
{
	color:rgb(169, 42, 44);
}

#container[place="town"] #placeName
{
	color: rgb(254, 245, 249);
}
#container[place="house"] #placeName
{
	color: rgb(254, 245, 249);
}
#container[place="kitchen"] #placeName
{
	color: rgb(254, 245, 249);
}
#container[place="apartment"] #placeName
{
	color: rgb(254, 245, 249);
}
#container[place="store"] #placeName
{
	color: rgb(254, 245, 249);
}
#container[place="call"] #placeName
{
	color: rgb(254, 245, 249);
}
#container[place="screen"] #placeName
{
	color: rgb(254, 245, 249);
}
